*{
    margin: 0;
    padding: 0;
}
#board{
    /* border: 1px solid black; */
    width:35%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}
#division{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.row{
    display: grid;
    grid-template-columns: repeat(9,1fr);
}
.col{
    border: 1px solid rgb(222, 214, 214);
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
}
.col:hover{
    background-color: blanchedalmond;
}
#heading{
    text-align: center;
}

